

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,800&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	display: flex;
	flex-direction: column;

}

.header img
{
	width: 600px;
	height:300px;
}


.carta
{
	width: 240px;
	height:250px;
	margin-top: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
	background: white;
	display: flex;
	border-radius: 20px;
	justify-content: center;
	position: relative;
	transition: all .2s;
}

.carta img
{
	width: 240px;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
	cursor: pointer;
	z-index: 10;
	transition: all .2s;
}

.carta:hover img 
{
	margin-top: -30px;
}

.carta:hover{
	width: 230px;
}

.carta::before
{
	letter-spacing: 0.2em;
	position: absolute;
	bottom: 8px;
	left: 20px;
	color: black;
	font-size: 0.9em;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1250px;
	justify-content: space-around;

}


.Ed::before {content:'Ned Stark';}

.Arya::before {content:'Arya Stark';}

.Theon::before{content:'Theon GreyJoy';}

.Cersei::before{content:'Cersei Lannister';}

.Stannis::before{content:'Stannis Baratheon';}

.Sansa::before{content:'Sansa Stark';}

.Robb::before{content:'Robb Stark';}

.JonSnow::before{content:'Jon Snow';}

.Jaime::before{content:'Jaime Lannister';}

.Ramsay::before{content:'Ramsay Bolton';}

.Catelyn:before{content:'Catelyn Stark';}

.Margaery:before{content:'Margaery Tyrell';}

.Tyron:before{content:'Tyron Lannister';}

.Hodor:before{content:'Hodor';}

.Ygritte:before{content:'Ygritte';}

